In [120]:
from calendar import monthrange
from datetime import datetime
import pandas as pd
import locale, calendar
from stat import S_IREAD, S_IRGRP, S_IROTH
from styleframe import StyleFrame, Styler, utils
import shutil

In [31]:
locale.setlocale(locale.LC_ALL, 'es_ES')

'es_ES'

In [105]:
mes=11
año=2020
diasMes=[datetime(año, mes, x+1).strftime("%d\n%a") for x in range(monthrange(año,mes)[1])]
print(diasMes)

['01\ndo.', '02\nlu.', '03\nma.', '04\nmi.', '05\nju.', '06\nvi.', '07\nsá.', '08\ndo.', '09\nlu.', '10\nma.', '11\nmi.', '12\nju.', '13\nvi.', '14\nsá.', '15\ndo.', '16\nlu.', '17\nma.', '18\nmi.', '19\nju.', '20\nvi.', '21\nsá.', '22\ndo.', '23\nlu.', '24\nma.', '25\nmi.', '26\nju.', '27\nvi.', '28\nsá.', '29\ndo.', '30\nlu.']

In [106]:
oficiales=['Bere', 'Alcantar','Mendoza','Charly']

In [119]:
df=pd.DataFrame(columns=diasMes)
#print(df)
df.insert(0, column='Oficiales', value=oficiales)
colocar_servicios(df)

,Oficiales,01\ndo.,02\nlu.,03\nma.,04\nmi.,05\nju.,06\nvi.,07\nsá.,08\ndo.,09\nlu.,...,21\nsá.,22\ndo.,23\nlu.,24\nma.,25\nmi.,26\nju.,27\nvi.,28\nsá.,29\ndo.,30\nlu.
0,Bere,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN
1,Alcantar,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mendoza,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Charly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
sf=StyleFrame(df)
sf.to_excel(excel_writer='Rol Dic.xlsx', best_fit=list(df.columns), index=False).save()

In [118]:
def colocar_servicios(df):
    Bere=[1,3,23]
    Alcantar=[7,3]
    Mendoza=[8]
    df.iloc[1,1]='C'
    df.iloc[2,3]='C'
    df.iloc[3,22]='C'
    df.iloc[0,27]='C'
    return df

In [ ]:
df=colocar_servicios(df)