### <font color='blue'> Progama para Hacer el Rol de Servicios

In [394]:
from calendar import monthrange
from datetime import datetime
import pandas as pd
import locale, calendar
from stat import S_IREAD, S_IRGRP, S_IROTH
from styleframe import StyleFrame, Styler, utils
import shutil, queue, yaml

#### <font color='blue'> Cargar el archivo con nombres de los oficiales y fechas de sus servicios

In [403]:
with open("Relacion Oficiales.yaml","r") as s:
    y=yaml.safe_load(s)
nombreOficiales=[Oficial['Nombre'] for Oficial in y['Oficiales']]
nombresOficiales

['Cap. 1/o. I.C.E. Jose Luis Revilla Manzur',
 'Cap. 1/o. I.C.E. Jaime Mendoza Soto',
 'Cap. 1/o. I.C.E. Carlos Mendoza Sanchez',
 'Tte. Trans. Luis Raymundo de Jesus Mixteco',
 'Tte. Rep. Jose Luis Felix',
 'Cap. 1/o. I.C.E. Fernando Alcantar Hernandez',
 'Cap. 1/o. I.C.E. Rafael Espinoza Reyes']

#### <font color='blue'> Establecer la fecha, y crear la tabla

In [404]:
mes=11 
año=2020

locale.setlocale(locale.LC_ALL, 'es_ES') #idioma Español
diasMes=[datetime(año, mes, x+1).strftime("%d\n%a") for x in range(monthrange(año,mes)[1])]
df=pd.DataFrame(columns=diasMes)
df.insert(0, column='Oficiales', value=nombresOficiales)
df

,Oficiales,01\ndo.,02\nlu.,03\nma.,04\nmi.,05\nju.,06\nvi.,07\nsá.,08\ndo.,09\nlu.,...,21\nsá.,22\ndo.,23\nlu.,24\nma.,25\nmi.,26\nju.,27\nvi.,28\nsá.,29\ndo.,30\nlu.
0,Cap. 1/o. I.C.E. Jose Luis Revilla Manzur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cap. 1/o. I.C.E. Jaime Mendoza Soto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cap. 1/o. I.C.E. Carlos Mendoza Sanchez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tte. Trans. Luis Raymundo de Jesus Mixteco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tte. Rep. Jose Luis Felix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cap. 1/o. I.C.E. Fernando Alcantar Hernandez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cap. 1/o. I.C.E. Rafael Espinoza Reyes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### <font color='blue'> Asignar comisiones

In [405]:
def colocar_servicios (df,y):
    for Oficial in y['Oficiales']:
        #OficialObj = list(Oficial.values())[0]
        nombre= Oficial['Nombre']
        cuarteles= Oficial['Cuartel']
        comisiones= Oficial['Comisiones']
        vacaciones= Oficial['Vacaciones']
        for cuartel in cuarteles:
            df.loc[df['Oficiales']==nombre,get_date(df,cuartel)]='CTL'
        for comision in comisiones:
            df.loc[df['Oficiales']==nombre,get_date(df,comision)]='C'
        for vacacion in vacaciones:
            df.loc[df['Oficiales']==nombre,get_date(df,vacacion)]='A'
    return df

#Correr la funcion colocar_servicios
df=colocar_servicios(df,y)

df

,Oficiales,01\ndo.,02\nlu.,03\nma.,04\nmi.,05\nju.,06\nvi.,07\nsá.,08\ndo.,09\nlu.,...,21\nsá.,22\ndo.,23\nlu.,24\nma.,25\nmi.,26\nju.,27\nvi.,28\nsá.,29\ndo.,30\nlu.
0,Cap. 1/o. I.C.E. Jose Luis Revilla Manzur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cap. 1/o. I.C.E. Jaime Mendoza Soto,NaN,CTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cap. 1/o. I.C.E. Carlos Mendoza Sanchez,NaN,NaN,NaN,NaN,NaN,NaN,CTL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tte. Trans. Luis Raymundo de Jesus Mixteco,C,C,C,C,C,C,NaN,NaN,CTL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tte. Rep. Jose Luis Felix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cap. 1/o. I.C.E. Fernando Alcantar Hernandez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cap. 1/o. I.C.E. Rafael Espinoza Reyes,C,NaN,NaN,CTL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [320]:
#Funcion para obtener la fecha para utilizarse en el .loc de acuerdo a las comisiones nombradas
def get_date(df,dia):
    for match in list(df.columns):
        if str(int(dia)).zfill(2) in match:
            return(match)

In [294]:

df.loc[df['Oficiales']=='Cap. 1/o. I.C.E. Jose Luis Revilla Manzur',:]

,Oficiales,01\ndo.,02\nlu.,03\nma.,04\nmi.,05\nju.,06\nvi.,07\nsá.,08\ndo.,09\nlu.,...,21\nsá.,22\ndo.,23\nlu.,24\nma.,25\nmi.,26\nju.,27\nvi.,28\nsá.,29\ndo.,30\nlu.
0,Cap. 1/o. I.C.E. Jose Luis Revilla Manzur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
import queue
q=queue.PriorityQueue()
q.put([0,1,Bere])       # [servicios, prioridad, nombre]
q.put([0,2,Felix])

Propuesta1=q.get()
print(Propuesta1)
q.put([Propuesta1[0]+1,Propuesta1[1],Propuesta1[2]])
print(q.get())#
print(q.get())#


#q.put(5)

[0, 1, {'servicios': 0, 'id': 'Bere'}]
[0, 2, {'servicios': 0, 'id': 'Felix'}]
[1, 1, {'servicios': 0, 'id': 'Bere'}]

In [406]:
sf=StyleFrame(df)
sf.to_excel(excel_writer='Rol Dic.xlsx', best_fit=list(df.columns), index=False).save()

In [118]:
def colocar_servicios(df):
    Bere=[1,3,23]
    Alcantar=[7,3]
    Mendoza=[8]
    df.iloc[1,1]='C'
    df.iloc[2,3]='C'
    df.iloc[3,22]='C'
    df.iloc[0,27]='C'
    return df

In [ ]:
df=colocar_servicios(df)